[2017-01-23 19:04] kevinushey opened #1 "Automatically map R objects to TF.Learn column variables"
When building a model with TF.Learn, one must generate 'column's from the input data, typically defining the 'type' or 'shape' of data expected in a particular column. For example, the example in https://www.tensorflow.org/tutorials/tflearn/ has:

[code]

indicating that the feature-columns input is an array with a single real valued column of dimension 4 (if I am understanding the API correctly).

[2017-01-23 21:01] jjallaire commented on #1
We'll want the feature transformations to be done within tensorflow if possible (since this will bring a significant performance advantage in the distributed / large dataset cases). I think that this is orthogonal to whether automatic transformations are applied. I think taking a data frame and doing something reasonable with it *sounds like* a good idea, however if the nature of programming for T

[2017-01-23 21:10] terrytangyuan commented on #1
I think users can do whatever they want and then TF.Learn can treat that as raw data (though it's feature engineered). We can provide some default conversions but they defeats the purpose of this extensible module. A lot of the design decisions in TF.Learn were proven to be well-suited for deep learning applications.

If you take a look at this [input_fn example](https://github.com/rstudio/tflearn

[2017-01-23 21:14] terrytangyuan commented on #1
@kevinushey Re: your table of conversion, I think it might be a good idea potentially going forward but for now let's leave those to users and we'll see a trend or need for that in the future. IMO, I think we need to be 100% sure when we are doing any sort of automatic conversion.

[2017-01-23 21:25] terrytangyuan commented on #1
Perhaps we can make a `default_input_fn()` that does that automatic conversion for users for now. The examples you gave in the table are pretty much true. Users can decide whether to use the conversion.

[2017-01-23 21:55] kevinushey commented on #1
Perhaps I'm misunderstanding what's necessary here, as well. Based on your example in https://github.com/rstudio/tflearn/blob/master/inst/examples/boston_input_fn.R, it seems like using `tf$constant` when specifying inputs to a model is sufficient. Is that correct? When exactly do `real_valued_column` and friends come into play?

[2017-01-23 22:04] terrytangyuan commented on #1
Sorry for the confusion. Perhaps [this wide-and-deep tutorial](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/learn/wide_n_deep_tutorial.py) may demonstrate better. Think about `input_fn` being used as input handling, e.g. converting `data.frame` and `data.table` to `Tensors`. Then use FeatureColumn module to construct Features that can be used for estimator construction,

[2017-01-23 22:20] kevinushey commented on #1
Thanks! Okay, I think I understand now. Where an R user might define transformations inline using the formula interface, e.g.

    lm(y ~ X + X^2 + X^3, data = data)

the TF.Learn user would instead define those transformations within `input_fn`. When no transformation of variables is necessary (ie -- we're just using input data as-is), then a plain `tf$constant` is sufficient. Does that sound cor

[2017-01-23 22:23] terrytangyuan commented on #1
Exactly. Great!

[2017-01-24 14:03] jjallaire commented on #1
I'd like to echo the bias against too much automatic binding too early. It seems like TF users do quite a bit of feature engineering to get models to perform in an optimal fashion, and while we can create a nice looking "hello, world" example w/ automagic mapping of e.g. the `iris` dataset, this doesn't reflect real world scenarios.

So I think we should always assume that features will be manuall

[2017-01-24 23:24] kevinushey commented on #1
I think everything here is now handled by the recipe-driven approach -- see e.g.

https://github.com/rstudio/tflearn/blob/master/R/tf_linear_regression.R

I think this is a step in the right direction; hopefully we can further refine the interface from here!

[2017-01-24 23:24] #1 closed

[2017-02-05 03:05] terrytangyuan opened #2 "Truncated Stack Traces"
I was working on [this example](https://github.com/rstudio/tflearn/blob/master/inst/examples/iris_custom_model.R):

However I encountered the error with stack traces below which doesn't seem complete. I had this issue multiple times before but I was able to understand the error messages after reading the first few lines but this time it's a bit harder. I know the issue is probably around `loss = t

[2017-02-06 18:31] #2 closed

[2017-02-24 19:15] kevinushey opened #4 "Consider shortcuts for generating columns?"
(Opening mainly for discussion)

The names used for generating columns are somewhat big and unwieldy, e.g.

[code]

It might be useful to map these to objects using `column_` as the prefix. For example:

[code]

Is something like this worth considering?

[2017-02-24 19:18] terrytangyuan commented on #4
Yes, more generally, this idea should apply to layers, optimizers, metrics, etc., which should mostly be part of rstudio/tensorflow. Feature columns should mostly apply here in tflearn though. @jjallaire What do you think?

[2017-02-24 19:30] jjallaire commented on #4
Yes, I agree that feature columns are a tflearn concept and should stay there.

[2017-02-25 23:08] #4 closed

[2017-04-16 06:13] terrytangyuan opened #6 "numpy_input_fn progress"
@dfalbel I just pushed what I have in progress for `numpy_input_fn`  in https://github.com/rstudio/tflearn/commit/a78df80e7fbb21d4c7ffdcff950ad1870260777a.

Somehow the shapes are unknown for each Tensor feature, see below:

[code]

I'll continue looking into this more. We can use this issue to track the progress.

[2017-04-16 06:30] terrytangyuan opened #7 "QueueRunner not added to GraphKeys collection"
Happens here: https://github.com/tensorflow/tensorflow/blob/52dcb2590bb9274262656c958c105cb5e5cc1300/tensorflow/python/estimator/estimator.py#L465

`ops.get_default_graph().get_collection(ops.GraphKeys.QUEUE_RUNNERS)`

[code]

[code]

[2017-04-16 06:35] terrytangyuan opened #8 "A better and instructive enforcement for custom model function"
For example, during inference, `loss` and `train_op` need to be `NULL`. Users need to early return the expected `estimator_spec`.

[code]

[2017-04-16 06:39] terrytangyuan opened #9 "SVM Estimator"
Some work-in-progress here: https://github.com/rstudio/tflearn/blob/master/tests/testthat/test-svm-estimators.R

[2017-04-16 06:40] terrytangyuan opened #10 "KMeans clustering"
Some work-in-progress here: https://github.com/rstudio/tflearn/blob/master/tests/testthat/test-kmeans-clustering.R

[2017-04-16 06:41] terrytangyuan opened #11 "RNN Estimator"
For example, dynamic rnn estimator https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/learn/python/learn/estimators/dynamic_rnn_estimator.py

and state saving rnn estimator https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/learn/python/learn/estimators/state_saving_rnn_estimator.py

[2017-04-16 06:42] terrytangyuan opened #12 "Initial setup for pkgdown"
Per @jjallaire, we should use [pkgdown](http://hadley.github.io/pkgdown/) for better documentation for the package.

[2017-04-17 00:31] terrytangyuan opened #13 "Recover coef() of a custom model"
`estimator.get_variable_names()` has been removed during the migration of tflearn to core. We need to add this back in Python end and make sure coef() stills works on custom estimator.

[2017-04-17 00:48] terrytangyuan opened #14 "Make sure `numpy_input_fn` work for canned estimators"
Right now it's only tested on custom estimator but not canned estimator. Canned estimator may require additional adjustment.

[2017-04-18 02:20] #14 closed, assigned to nobody

[2017-04-19 05:10] terrytangyuan opened #17 "Support high dimensional arrays in input_fn"
This will be a prerequisite for RNN Estimator https://github.com/rstudio/tflearn/issues/11

[2017-04-23 03:11] terrytangyuan opened #18 "Support predict() for tf_model with type estimator"
Right now only classification and regression are supported. We need to support the types in `contrib_estimators_lib$constants$ProblemType`. However, this may require a lot of interface changes on Python side. We can also hold off on this until canned estimators are more stable and migrated to core.

[2017-04-23 19:07] #11 closed, assigned to nobody

[2017-04-27 03:26] #17 closed, assigned to nobody

[2017-05-04 02:21] terrytangyuan opened #20 "Support more declarative and explicit way to define feature columns"
Per @kevinushey, something like this would be very useful for certain users
[code]

However, this won't scale to large number of features, e.g. millions of features in astrophysics applications, etc., but still nice to have.

[2017-05-04 02:26] terrytangyuan opened #21 "Alternative to `features_as_named_list` in `input_fn`"
An argument named `features_as_named_list` in `input_fn()` that should be TRUE if this is used by a canned estimator and should be FALSE if this is used by a custom estimator.

Per @jjallaire, we don't want end users to know the difference between canned and custom estimators. Is there a way to make this behavior more automatically derived?

[2017-05-04 02:29] terrytangyuan opened #22 "An easier way to extract predicted classes and probabilities"
Per @jjallaire, the extraction of predicted classes and probabilities seems a bit fiddly / complicated -- is there anything that can be done to make this simpler?

Currently, users need to do the following to extract them:
[code]

[2017-05-04 03:09] #12 closed, assigned to nobody

[2017-05-05 15:26] terrytangyuan opened #23 "GMM Estimator"
Haven't started this one yet but seems it's not stable at this moment (e.g. https://github.com/tensorflow/tensorflow/issues/9682). Opened this issue to track.

[2017-05-07 02:26] terrytangyuan opened #24 "Switch to use core feature_columns"

[2017-05-12 02:39] #21 closed, assigned to nobody

[2017-05-12 03:06] terrytangyuan opened #25 "Handle input_fn cases for unsupervised estimators"

[2017-05-12 03:07] terrytangyuan opened #26 "More validations around custom input_fn"

[2017-05-20 17:03] #26 closed, assigned to nobody

[2017-05-20 18:13] #6 closed, assigned to nobody

[2017-05-20 23:53] terrytangyuan opened #27 "Support custom class inherited from SessionRunHook"
Similar to how Keras handles callbacks:
https://github.com/rstudio/keras/blob/master/inst/python/kerastools/callback.py
https://github.com/rstudio/keras/blob/master/R/callbacks.R#L340

[2017-05-21 00:25] terrytangyuan opened #28 "Migration to core canned estimator"
Related commits: https://github.com/tensorflow/tensorflow/commit/34e264a785cbd4cc1fcbf5d9cfc18c131fd5b206

[2017-05-22 18:39] jjallaire opened #29 "behavior of estimator methods"
Here's the simple example we are using on the home page:

<img width="889" alt="screen shot 2017-05-22 at 2 33 05 pm" src="https://cloud.githubusercontent.com/assets/104391/26323271/32df68d4-3efc-11e7-9d21-459a8df6a554.png">

A few questions:

1. It seems like the input_fn is specified many times (e.g. for each estimator method) but of course with some minor variations (training vs. test vs. predi

[2017-05-26 01:13] #24 closed, assigned to nobody

[2017-05-29 00:26] #27 closed, assigned to nobody

[2017-05-29 02:22] #13 closed, assigned to nobody

[2017-05-29 19:51] terrytangyuan opened #31 "Print Methods for models"
Per JJ, there isn't much of a str/print method for models. The train function returns the model invisibly so it's not printed. Is there a way for us to do something reasonable here?

We can print things like the type of estimator being trained, what type of inputs were used, run configuration, etc.

[2017-05-29 19:53] terrytangyuan opened #32 "Allow Users to Specify Eval Metrics"
Per JJ, there was no accuracy reported in evaluate, is there a way to get the accuracy included by default?

For canned estimator, we'll need to wait until they are migrated to core. For custom estimator, yes, when you create custom model_fn, you can pass eval_metric_ops to EstimatorSpec that's being returned in model_fn (I haven't made this argument available yet but the new signature can be foun

[2017-05-29 19:55] terrytangyuan opened #33 "Fix Travis status"
We need to start build against master version of TF so we should revisit to make Travis
working (for some reason I wasn't able to get the detailed error logs from
Travis long time ago).

Any help on this is appreciated.

[2017-05-29 19:58] terrytangyuan opened #34 "Use core estimator's `predict_keys` instead of `type` in `predict()`"
https://www.tensorflow.org/api_docs/python/tf/estimator/Estimator#predict

`predict.tf_model`'s `type argument`: https://github.com/rstudio/tfestimators/blob/master/R/tf_model.R#L22

[2017-05-29 20:00] #29 closed, assigned to nobody

[2017-06-02 02:55] #32 closed, assigned to nobody

[2017-06-03 17:46] terrytangyuan opened #36 "Some improved progress output for training"

[2017-06-03 17:46] terrytangyuan opened #37 "Add some non-trivial examples"
A couple of less trivial examples (e.g. boston housing, census, etc.)

A simple logistic regression w/ the boston housing data like they have on the TF website would be nice. Or something like the example here for a more sophisticated model: https://www.tensorflow.org/get_started/input_fn

[2017-06-11 19:35] #22 closed, assigned to nobody

[2017-06-11 19:37] #36 closed, assigned to nobody

[2017-06-14 13:00] terrytangyuan opened #40 "Upstream Changes"
List of upstream changes that require changes to our R API. I am keeping the list here as TODOs.

[2017-06-18 04:40] #7 closed, assigned to nobody

[2017-06-18 04:41] #25 closed, assigned to nobody

[2017-06-18 04:41] #20 closed, assigned to nobody

[2017-06-18 04:47] terrytangyuan opened #41 "Fix inconsistent output type for different `features_as_named_list`"
One needs to call additional `()` but one does not. This is due to the difference between `contrib.learn.estimators` and `python.estimators`. Will fix this once we migrated to core canned estimators.

[code]

[2017-06-18 21:55] #41 closed, assigned to nobody

[2017-06-19 13:49] jjallaire opened #42 "enhanced name scopes for tidyselect"
We current establish the name scope for tidyselect via the first argument to `feature_columns()`, e.g.

[code]

This works fine for simple cases, however in some cases you actually need to create named variables which map to the feature columns (so that you can create embeddings). For example, consider this code:

[code]

Here we are forced back into the use of strings for referring to columns (be

[2017-06-22 01:42] terrytangyuan opened #43 "TPU Estimator"
Just landed in contrib: https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/tpu

[2017-06-23 02:01] #37 closed, assigned to nobody

[2017-06-24 15:41] terrytangyuan opened #44 "Debug Obscure Error Message"
I am trying to get this example working - https://github.com/rstudio/tfestimators/blob/master/vignettes/examples/example2.R

However, I am getting something like following:
[code]

And then I am trying to use reticulate to get better error message but got the following:
[code]

@jjallaire Any suggestion on how to debug this further?

[2017-06-25 18:40] #44 closed, assigned to nobody

[2017-07-04 17:31] #8 closed, assigned to nobody

[2017-07-08 19:34] terrytangyuan opened #45 "Recover RNN estimators tests"
These are still in contrib. Will fix them once they are in core.

[2017-07-08 20:18] #34 closed, assigned to nobody

[2017-07-08 20:18] #18 closed, assigned to nobody

[2017-07-08 21:21] #28 closed, assigned to nobody

[2017-07-11 21:44] terrytangyuan opened #46 "Rewrite examples in R"
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/learn

[2017-07-11 22:12] kevinushey opened #47 "`linear_regressor()` and friends should accept named feature columns"
The following fails:

[code]

with

[code]

We should automatically drop names on the `feature_columns` list if they are provided.

[2017-07-11 22:17] kevinushey opened #48 "use default model directory, or suppress warnings"
When fitting a model without specifying a model directory explicitly, warnings are emitted to the console, e.g.

[code]

We should allow for a default model directory, and just let that default to the session temporary directory. This could be selected either as a project-specific option (e.g. with the `config` package), or a plain old R option, or through searching through some combination of tho

[2017-07-11 22:22] kevinushey opened #49 "'predict()' should marshal return values into nicer data structures when appropriate"
For example, given this code:

[code]

The output is of the form:

[code]

Compare this to base R, where you receive a named numeric vector:

[code]

[2017-07-11 22:25] kevinushey opened #50 "should 'tf_model()' store a reference to the last-used 'input_fn()'?"
In R, you might write code like this to view predicted values for a model:

[code]

Note that the `predict()` function does not need a separate specification of the input data required -- the default behavior is to assume that you want to predict using the same input data. I'm guessing this is less common in the TensorFlow universe, but is this something we want to support?

I think this would eff

[2017-07-14 23:13] terrytangyuan opened #51 "Deployment guideline"
The work-in-progress official tutorial for "Exporting a Trained Model for Serving" just got merged in today: https://github.com/tensorflow/tensorflow/pull/11508/commits/e736b854449ff59d2d586779ce9614ba7567c8f1

There's also a section for CloudML, which aligns with what you've worked on. @jjallaire @kevinushey Could you take a stab at this?

[2017-07-16 13:47] #48 closed, assigned to nobody

[2017-07-18 17:06] kevinushey opened #53 "consider re-organizing S3 class hierarchy for tfestimator objects"
Consider the class currently applied for e.g. the output of `linear_regressor()`:

[code]

I think there's a couple tweaks we could make here:

1. Should these have class `tf_estimator` rather than `tf_model`? The underlying object really is just an R object wrapping over an estimator, so it is perhaps more accurate to call it that.

2. We should also prefix the extra classes with `tf_estimator` (

[2017-07-18 17:14] #50 closed, assigned to nobody

[2017-07-18 17:18] kevinushey opened #54 "provide 'plot()' methods for estimator objects"
We should try to provide a plot method for `tf_estimator` objects, for simple model diagnostics / inspecting the state + history of the model.

Example from @jjallaire with Keras:

![](https://user-images.githubusercontent.com/104391/28115775-3fd583ca-66d4-11e7-8de5-c624e977e5ed.png)

And example of what R produces (not advocating we try to re-produce those plots with Keras; just doing this to add

[2017-07-20 13:10] terrytangyuan opened #56 "`custom_input_fn_generator` shouldn't require features to have the same data type"
https://github.com/rstudio/tfestimators/blob/master/R/input_fn.R#L148

[2017-07-20 13:14] terrytangyuan opened #57 "Features in `input_fn.list` are casted to `int64`"
https://github.com/rstudio/tfestimators/blob/master/R/input_fn.R#L156

See discussion in https://github.com/rstudio/tfestimators/pull/55.

It's probably caused by this hard-coded line in Python API: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/estimator/inputs/queues/feeding_functions.py#L316

`numpy_input_fn` uses `RandomShuffleQueue` that somehow introduced this very im

[2017-07-21 23:03] kevinushey opened #59 "handle R factors for response variables?"
Consider this small example:

[code]

This fails with the error from TensorFlow:

[code]

In this case, I believe it's because R factors are being interpreted as plain integers (which they are under the hood), but their values start from 0 rather than 1, e.g.

[code]

We should transform these to be 0-based labels behind the scenes.

[2017-07-23 22:21] #53 closed, assigned to nobody

[2017-07-24 22:15] #59 closed, assigned to nobody

[2017-07-24 23:08] #47 closed, assigned to nobody

[2017-07-25 19:10] jjallaire opened #61 "function reference completeness / R orientation"
@terrytangyuan I noticed that much of the function reference we've ported over from Python still retains a Python orientation (i.e. mentioning Python class names explicitly, using Python list literals, referring to dictionaries, etc.). We need to ensure a couple of things:

1) We have reference docs for all of our exported functions; and

2) It's been converted to use R nomenclature, constructs, e

[2017-07-26 18:41] kevinushey opened #64 "can, or should, 'predict()' enforce 'shuffle = FALSE' on the input function?"
Otherwise, it is not possible (as far as I can tell) to map the predicted values back to the actual input data (when available), for e.g. diagnostics or plots or similar. It seems to me that most often, users will want the predicted values to be provided in the same order that the data was fed in.

Or perhaps I'm misunderstanding the intended workflow when working with predictions?

[2017-07-27 19:50] #64 closed, assigned to nobody

[2017-08-02 18:16] kevinushey opened #66 "provide helper function for constructing run hooks?"
Currently, if users want to construct a custom run hook, they need to create an R6 class, e.g.

[code]

I think we might want to instead provide a function that constructs a custom session run hook class, e.g.

[code]

and take care of creating the R6 object behind the scenes. FWIW, I think R6 classes are often used by package developers for managing state behind the scenes, but are less typically

[2017-08-02 21:24] kevinushey opened #68 "provide accessors to activation functions?"
Currently, to get a reference to a TensorFlow activation function, one must access it directly from the `tf` module, e.g.

    tf$nn$relu

Should we add helper functions for accessing these, e.g.

    activation_relu()

If so, we could provide accessors for all the activation functions described here: https://www.tensorflow.org/versions/r0.12/api_docs/python/nn/activation_functions_

[2017-08-02 21:43] #68 closed, assigned to nobody

[2017-08-03 14:27] #66 closed, assigned to nobody

[2017-08-06 14:16] nwstephens opened #70 "Changes to estimator_basics.Rmd"
The link to feature columns is broken.
[code]

[2017-08-06 14:18] nwstephens opened #71 "Error when inspecting a newly instantiated model"
When I instantiate a new model and inspect the R object, I get an error. I would expect to get a description of the object, not an error. After I train the model, I no longer get an error, which is correct behavior. See console output below.

[code]

[2017-08-06 23:36] terrytangyuan opened #72 "More narratives to layers example"
Per @nwstephens - "it's definitely more involved than the canned estimators. Same thing with the layers in tensorflow_layers.R. I need to a better understanding of how you select layers and how they work in a series."

We can add narrative to the Rmds by just adding roxygen-style comments within the .R script at logical breaking points.

[2017-08-07 09:27] jjallaire opened #73 "deal with dplyr masking caused by re-export of tidyselect functions"
This code:

[code]

Result in this masking warning when loading dplyr:

[code]

Obviously once dplyr imports tidyselect and that version of dplyr is on CRAN this problem will go away, but the dev version of dplyr does not yet depend on tidyselect so it seems unlikely that this change will make it to CRAN soon.

I think we need to deal with this before publicizing tfestimators as I'm sure people wi

[2017-08-07 09:29] jjallaire opened #74 "training progress treatment"
Where did we end up in terms of having a progress bar treatment for training? I believe that there is a built in RunHook for this but I'm not positive. If there is nothing built-in it's possible we could borrow the progress bar implementation already contained in Keras.

[2017-08-11 23:28] kevinushey opened #75 "document signature of 'model_fn' for custom estimators"
We should provide some R documentation as to the structure of the `model_fn` definition that is used when building custom estimators. (It looks like we describe it in various examples, but we should define it e.g. within `?estimator_spec` or similar?)

[2017-08-12 23:31] #31 closed, assigned to nobody

[2017-08-19 03:16] terrytangyuan opened #76 "Treatment to `...` in tf_estimator signature"
@kevinushey I realized that you added `...` to `train(), predict(), evaluate()`'s signature. However, there are no additional arguments available in the Python interface. Should we get rid of them or is this on purpose, e.g. to facilitate the templated roxygen documentation that I should be aware of?

[2017-08-19 03:27] kevinushey commented on #76
They're there mainly for compatibility with R's S3 dispatch.

The generic methods are defined as e.g.

    train <- function(object, ...) UseMethod("train")

And because of that, all methods implementing that generic need to have both `object` and `...` in their signature, e.g.

    train.tf_estimator <- function(object, <stuff>, ...) { ... }

That is, because the generic has both `object` and `..

[2017-08-19 03:29] terrytangyuan commented on #76
Got it. Thanks for the clarification!

[2017-08-19 03:29] #76 closed

[2017-08-20 13:48] zyaar opened #77 "Current experiment object not working with tensorflow RunConfig is missing "environment""
Created a new experiment() and tried "train_and_evaluate()".

Got error that RunConfig is missing an 'environment' attribute.

I believe this is because you are using the newer RunConfig (tf.estimator.RunConfig) which does not include an 'environment' attribute instead of the older tf.contrib.learn.RunConfig which does, and the Experiment object still requires the older one.

[2017-08-20 15:44] terrytangyuan commented on #77
Yes exactly. I had a PR to upstream Python interface and thought it was fixed. But let me look into this again. I recommend hold off on using experiment until the Experiment API lands in core though.

[2017-08-20 15:56] zyaar commented on #77
Thx!

Right now am just using your package to generate a Model_fn object and then
doing everything else directly with the tensorflow package and
contrib.learn's Estimator object and it is working fine. (for some reason
the Estimator object doesn't like a Model_fn coming directly from R).

But I really the work that you are doing and would like to use it once
everything stabilizes.

- Ziv

On Aug 2

[2017-08-20 16:03] terrytangyuan commented on #77
Yeah I'll see what I can do there. I closed this PR I created since I thought it was fixed internally but now it seems not: https://github.com/tensorflow/tensorflow/pull/11385

[2017-08-20 16:06] terrytangyuan commented on #77
@zyaar model_fn is a bit trickier! That's exactly where we hope this package brings to help to avoid this type of issues!

[2017-08-20 20:45] terrytangyuan commented on #77
@zyaar A quick solution is to use `tf$contrib$learn$RunConfig()` when you initialize the estimator and then pass to experiment like follows:

[code]
I couldn't find a good way to resolve this since [only certain existing properties of the core RunConfig are mutable](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/estimator/run_config.py#L31), e.g. you cannot add an additiona

[2017-08-20 23:19] kevinushey commented on #77
I agree we should remove Experiment from the public API for now -- we should target whatever is considered 'stable' in v1.3 right now, and leave Experiments for v1.4 (if they make it in then).

[2017-08-20 23:55] zyaar commented on #77
Thanks for the update.  Yes, I looked at something like this earlier.  At
the end I ended up going with a major cludge, but was able to use the
learn_runner.run() method in TF (I eventually want to play around with
learn_runner.tune() to get the hyper-parameter tuning, instead of having to
write my own).

Basically, I'm using your package to build the model_fn function (which
doesn't seem to work

[2017-08-21 00:06] jjallaire commented on #77
@terrytangyuan and @kevinushey We should be able to get to a place where the R model_fn is *also* the Python model_fn (i.e. it's just the reference to the reticulate Python object. I realize that there is a wrapper object there now, in Keras we don't have any such wrappers, which of course promotes interoperability with lower level Python code (as is desired here).

Let me know if there is a reaso

[2017-08-21 00:19] terrytangyuan commented on #77
@jjallaire As far as I can remember, that wrapper was introduced because reticulate cannot preserve the R function signature when it's passed to another function argument. We definitely want to get rid of it though.

[2017-08-21 01:50] terrytangyuan commented on #77
we are relying on this wrapper right now: https://github.com/rstudio/tfestimators/blob/master/inst/python/estimatortools/functions.py

[2017-08-21 02:12] jjallaire commented on #77
That wrapper should still work fine w/ what I am talking about.

@zyaar If you could explain a bit more narrowly what you are trying to do and what's not working hopefully we can sort it out.

[2017-08-21 03:42] terrytangyuan commented on #77
(Please correct me if I am wrong @zyaar) I think @zyaar was trying to use raw tensorflow R package to access estimators, e.g. tf$contrib$estimator. However, the estimator Python API requires the model_fn to have the correct signature with named arguments while the model_fn defined in R being passed to estimator() lost the signature, which is where tfestimators' internal as_model_fn() brings into h

[2017-08-21 03:52] terrytangyuan commented on #77
I think there's a miscommunication here. @zyaar didn't mean that our as_model_fn() didn't work. He just meant the opposite - it works for him and he couldn't do it without our wrapper since using raw TensorFlow with reticulate won't pass the model_fn he defined correctly. @jjallaire Does this clarify things better?

[2017-08-21 06:05] jjallaire commented on #77
Yes, I apologize for not grasping this before! Sound like tfestimators has
got it exactly right here
On Sun, Aug 20, 2017 at 9:52 PM Yuan (Terry) Tang <notifications@github.com>
wrote:

[2017-08-21 13:11] zyaar commented on #77
Yup, I think the summary in this thread is on point.  Here is the "quick"
backstory:

1.  Been working directly with the tensorflow package in R up until now
2.  Tried to create my own estimator (to use with an experiment to
ultimately use with learn_runner) with contrib.learn estimator, didn't work
because the R function that I wrote for 'model_fn' failed to get the 'mode'
argument
3.  Switched t

[2017-08-21 14:09] terrytangyuan commented on #77
Thanks! Back to this issue and your step 6, since it seems like
learn.RunConfig doesn't seem to work I just moved Experiment API from the
public API until it's in core. Closing this issue now. Please stay tuned!

On Mon, Aug 21, 2017 at 9:11 AM zyaar <notifications@github.com> wrote:

[2017-08-23 23:38] #70 closed

[2017-08-23 23:39] #71 closed

[2017-08-25 20:29] #75 closed

[2017-08-25 20:29] kevinushey commented on #75
Done now!

[2017-08-25 20:32] kevinushey commented on #74
I'm declaring defeat on this one. As far as I can see, there is no way to effectively produce metrics during training.

[2017-08-25 20:32] #74 closed

[2017-08-25 21:03] kevinushey commented on #33
Looks like we have Travis running now!

[2017-08-25 21:40] kevinushey opened #78 "re-visit feature columns specification?"
I'd like to propose a re-working of the syntax we use for feature column definitions. Currently, feature columns are defined as e.g.

[code]

It feels to me that we could try to express this in a more 'pattern-matching' way, e.g.

[code]

This feels a bit cleaner as it separates the 'condition' from the 'object constructed from that condition'. We could also mix in plain, non-formula objects in th

[2017-08-25 22:54] terrytangyuan commented on #78
I am okay with this addition. I am just a bit confused on why this would help. I feel like this requires additional typing and formatting to get the indentation + ~ look right.

[2017-08-25 22:56] terrytangyuan commented on #33
Yes! However, it takes 20 mins to run the tests, which may not be ideal. Any optimizations on this would be great.

[2017-08-26 03:11] jjallaire commented on #78
I'm not sure as I haven't seen that syntax elsewhere in R and I'm not sure how it dovetails with other pattern matching schemes (if any) in R. My biggest issue with it is that I think the simple case is much clearer with the existing syntax:

[code]

vs.

[code]

I think that we enough new interlocking concepts in the API to learn that if we throw this syntax at people it might make the whole thin

[2017-08-26 04:13] jjallaire commented on #74
Okay, glad we tried in any case. We can talk to the TF team about this when
we see them in Sept.

On Fri, Aug 25, 2017 at 1:32 PM, Kevin Ushey <notifications@github.com>
wrote:

[2017-08-26 17:09] terrytangyuan opened #79 "TensorBoard stuck"
This seems to happen to both custom and canned estimator. This command just keeps hanging there and tensorboard is not launched in the browser:
[code]
@jjallaire @kevinushey are you aware of any recent changes that might break this?

[2017-08-26 17:18] terrytangyuan opened #80 "Handle situation where input is exhausted earlier"
This is due to a large batch size specified in the input_fn. Perhaps we should generate an warning that the data is exhausted before reaching the 20th step:
[code]
Otherwise, the visualization seems weird to the user:

![image](https://user-images.githubusercontent.com/4269898/29743464-c54f1c78-8a60-11e7-8177-5a0dabce0837.png)

BTW, @jjallaire the Y-axis label is still looking strange. Which versi

[2017-08-26 17:22] terrytangyuan opened #81 "Properly handle case where `steps = NULL` for visualization"
Currently, when `steps = NULL` which is the default for `train()`. The `hook_view_metrics` will break.

[2017-08-26 17:42] terrytangyuan commented on #81
I pushed this commit to handle this - only pad when steps is not `NULL`. However, I am seeing something strange.

When I ran the training for this example: https://github.com/rstudio/tfestimators/blob/master/vignettes/examples/custom_estimator.R

I got visualization like this:
![image](https://user-images.githubusercontent.com/4269898/29743647-27f23632-8a64-11e7-8900-7fb515090f5a.png)

However, wh

[2017-08-26 18:56] #9 closed

[2017-08-26 18:56] #43 closed

[2017-08-26 18:56] #23 closed

[2017-08-26 18:56] #10 closed

[2017-08-26 19:00] terrytangyuan commented on #33
Anyone aware of any issues on Travis with working directory? I am seeing this error on Travis but cannot reproduce locally: https://travis-ci.org/rstudio/tfestimators/builds/268732994#L1347

Re-opening this issue to track.

[2017-08-26 19:58] jjallaire commented on #79
Try installing the tensorflow package from GitHub (we had to make a change
as a result in some new behavior in TF v1.3)
On Sat, Aug 26, 2017 at 10:09 AM Yuan (Terry) Tang <notifications@github.com>
wrote:

[2017-08-26 20:43] kevinushey commented on #79
You can try running devtools::install_deps() to quickly update all package dependencies in the project as well.

[2017-08-26 21:58] terrytangyuan commented on #79
Bumping tensorflow version to 1.3.0.9005 worked! Thanks!

[2017-08-26 21:58] #79 closed

[2017-08-26 22:03] terrytangyuan opened #82 "Progress bar prints out progress bar twice"
This happens when running the custom model test https://github.com/rstudio/tfestimators/blob/master/tests/testthat/test-tf-custom-models.R#L53
[code]

[2017-08-27 18:52] terrytangyuan commented on #82
Fixed via https://github.com/rstudio/tfestimators/commit/3d1f314694701f179be2b19da3d24271c156285d.

[2017-08-28 00:47] terrytangyuan commented on #82
The commit I made was not correct. It only fixed situation where steps = 2. However, when `steps = 10`, we'll see the following where the progress bar is not completed:
[code]

Seems like the duplicate progress bar only happens when `steps <= 8`, which is when input is exhausted.

[2017-08-28 00:55] terrytangyuan commented on #82
Just fixed this in 110e7a5. @kevinushey Could you double check to see if I fixed in the correct place?

[2017-08-28 03:25] #33 closed

[2017-08-28 03:26] #82 closed

[2017-08-28 04:12] jjallaire commented on #73
I think we need to resolve this issue before we publicize the new TF site during the first week of September.

@hadley The issue we have here is that if users attempt to use dplyr and tfestimators together then masking occurs. I think that once dplyr depends on tidyselect this issue will go away but I'm not sure how far off that is. One thought we have for a workaround is to not re-export the tidy

[2017-08-28 04:43] kevinushey commented on #73
I'm fairly confident I know how to tackle this so I'll take a shot tomorrow.

[2017-08-28 21:13] kevinushey commented on #73
Looks like I actually did tackle this one already! The following works fine with or without `tidyselect` explicitly attached:

[code]

[2017-08-28 21:14] kevinushey commented on #73
Note that the tidyselect helpers are only made available within the context of a `feature_columns` call. Are there any other contexts where we might want to handle this?

[2017-08-28 21:25] jjallaire commented on #73
Okay, that's great to hear!

We also use tidyselect within input_fn
On Mon, Aug 28, 2017 at 5:15 PM Kevin Ushey <notifications@github.com>
wrote:

[2017-08-28 22:22] kevinushey commented on #73
Thanks! This should be handled correctly there now as well.

[2017-08-28 22:52] #73 closed

[2017-08-28 22:57] kevinushey commented on #78
FWIW this syntax is already used in a couple places in the R universe:

1. `dplyr::case_when()`:

[code]

2. `purrr::when()`:

[code]

So it's not entirely novel / foreign.

[2017-08-28 23:39] terrytangyuan commented on #78
Cool. Just curious - what was the motivation behind creating that syntax? What usecases can it support in additional to what we already supported?

[2017-08-28 23:40] kevinushey commented on #78
It's purely stylistic: it does not enable anything new.

[2017-08-29 01:10] jjallaire commented on #78
I'd be okay with supporting it as a syntactic option, but I don't want to
lose the simple and familiar column_numeric("foo") syntax that we already
have. Not sure if there is a clean way to make it optional though.

On Monday, August 28, 2017, Kevin Ushey <notifications@github.com> wrote:

[2017-08-29 03:18] terrytangyuan commented on #78
Yeah I am okay with it too as long as we teach users the simpler way first and in most examples.

[2017-08-29 03:27] kevinushey commented on #78
Right, I'm definitely not advocating replacing the old syntax; just advocating this as an alternative way of specifying feature columns. There shouldn't be any reason why we can't support both.

[2017-08-29 19:15] #81 closed

[2017-08-29 22:46] terrytangyuan commented on #81
What about the zoom issue that I mentioned here? Is that fixed too?

[2017-08-29 22:49] kevinushey commented on #81
Yes, that should be fixed as well.

[2017-08-29 22:52] terrytangyuan commented on #81
Great!

[2017-08-30 02:07] kevinushey commented on #80
This should be fixed now as well, although the graph does look odd when there are only 2 steps. (However, there's not really a good way around that anyhow)

[2017-08-30 02:08] kevinushey commented on #78
Implemented with https://github.com/rstudio/tfestimators/commit/abfd1c59faeb733f2fc6ac375f2c93fdbf483a30.

[2017-08-30 02:08] #78 closed

[2017-08-31 01:51] kevinushey opened #85 "'column_categorical_with_identity()' requires default argument?"
E.g. I'm seeing:

[code]

The function signature:

[code]

@terrytangyuan should `default_value` be using e.g. `0` as the default value here?

[2017-08-31 02:30] terrytangyuan commented on #85
Which dataset is this?

[2017-08-31 02:33] kevinushey commented on #85
There is no data set associated. Just attempting to construct the feature column is failing.

[2017-08-31 02:35] terrytangyuan commented on #85
Oh I see your point now. I think in this case switching to 0 is indeed more user-friendly.

[2017-08-31 02:44] terrytangyuan commented on #85
The issue is right now our feature columns wrapper is associated with the dataset. For the Python API, it's more lazily evaluated, e.g. this works in Python:
[code]

[2017-08-31 03:13] terrytangyuan commented on #85
Should be fixed in head.

[2017-08-31 03:13] #85 closed

[2017-08-31 11:48] jjallaire opened #86 "status of experiments?"
Were we going to remove experiment from the public API for this release? I recall that there were issues leading us to say that it's use wasn't recommended, and that this resulted in a decision to remove it until TF v1.4.

If this is the intention then we should un-export the function(s) and remove the vignette and all references to it.

[2017-08-31 11:52] jjallaire opened #87 "revise high level description"
In the high level description we mention a couple of things which we may want to remove for now:

1) Experiment API (see https://github.com/rstudio/tfestimators/issues/86)

2) Ability to deploy models without an R runtime

The second is of course possible but we provide no documentation for it. Perhaps we shouldn't advertise this capability until we've properly tooled and documented it.

[2017-08-31 11:58] jjallaire opened #88 "fix roxygen issues"
Noted this when I run devtools::document:

<img width="593" alt="screen shot 2017-08-31 at 7 55 53 am" src="https://user-images.githubusercontent.com/104391/29922037-0337a5ae-8e22-11e7-8b5f-fd3b4160ea92.png">

Let's make sure those help topics have titles.

Also it looks like one of us is running the dev version of roxygen. If practical let's roll back to the CRAN version (or have all of us roll u

[2017-08-31 13:35] terrytangyuan commented on #88
Agreed. I'd prefer CRAN version unless it's required.

[2017-08-31 13:38] terrytangyuan commented on #87
Agree that we can remove the first one. Maybe rephrase the second one to be something like "coming soon"?

[2017-08-31 13:42] terrytangyuan commented on #86
Yes I thought I removed the API from namespace as well as the tutorial. I probably forgot to remove the mentions of it in other tutorials.

[2017-08-31 14:07] jjallaire commented on #86
It's still in the NAMESPACE.

On Thu, Aug 31, 2017 at 9:42 AM, Yuan (Terry) Tang <notifications@github.com

[2017-08-31 14:08] jjallaire commented on #87
I'd just remove the second one entirely we if we can't deliver anything
more concrete right now.

On Thu, Aug 31, 2017 at 9:38 AM, Yuan (Terry) Tang <notifications@github.com

[2017-08-31 14:16] terrytangyuan commented on #86
Oh I missed the generic method. I will remove it.

[2017-08-31 18:18] kevinushey commented on #88
Just made the change to enforce usage of CRAN roxygen2. The other warnings here can actually be ignored -- I'm using those blocks to provide parameter documentation that can be shared across multiple function definitions.

For example, we define parameter documentation for estimators here:

https://github.com/rstudio/tfestimators/blob/1748564a3ccc0adad6978700cc70394ce3335a1f/R/estimators.R#L1-L41

[2017-08-31 18:54] jjallaire commented on #88
Okay, sounds good!

On Thu, Aug 31, 2017 at 2:18 PM, Kevin Ushey <notifications@github.com>
wrote:

[2017-08-31 18:54] #88 closed

[2017-08-31 21:26] kevinushey commented on #87
https://github.com/rstudio/tfestimators/commit/0e0357c991243e51dbce88864adde5412a51c3ff

[2017-08-31 21:26] #87 closed

[2017-08-31 21:28] kevinushey commented on #86
https://github.com/rstudio/tfestimators/commit/5c2e8b4113f86079108cf5695f1bda9783a06476

[2017-08-31 21:28] #86 closed

[2017-08-31 21:30] terrytangyuan commented on #86
Thanks Kevin! I wasn't able to do it during work hours unfortunately.

[2017-08-31 21:38] kevinushey commented on #86
No worries!

[2017-08-31 21:41] #61 closed

[2017-08-31 21:42] terrytangyuan commented on #45
There's a lot of other canned estimators we need to support and recover once they are in core! So I am closing this one now.

[2017-08-31 21:42] #45 closed

[2017-08-31 21:43] terrytangyuan commented on #42
I think we already have this now, right? @jjallaire

[2017-09-01 10:34] jjallaire commented on #42
Indeed we do!

On Thu, Aug 31, 2017 at 5:43 PM, Yuan (Terry) Tang <notifications@github.com

[2017-09-01 12:55] terrytangyuan commented on #42
Great! Closing this now.

[2017-09-01 12:55] #42 closed

[2017-09-07 17:41] terrytangyuan commented on #40
`contrib.estimator`:
https://github.com/tensorflow/tensorflow/pull/12867/commits/384337f6fa76ae37e7472f47362d880248c379d1

[2017-09-26 23:10] kevinushey opened #91 "allow categorical response in 'dnn_linear_combined_classifier'?"
Small reproducible example:

[code]

This fails with:

[code]

From what I can understand, TensorFlow is confused because we've passed a character column in as the response, rather than an integer column. Should we consider automatically converting to an integer column behind the scenes?

[2017-09-27 06:56] terrytangyuan commented on #91
Good catch! Yes I think we should convert it automatically in this case. I remember we discussed this and did something similar to this before?

[2017-09-27 20:05] kevinushey commented on #91
Any thoughts on whether we should just call `tf$to_int32()` or manually convert it on the R side? How have you usually seen this done in other TensorFlow code?

[2017-09-27 20:44] terrytangyuan commented on #91
I would recommend converting it on the R side manually. People usually explicitly convert them to specific types they want.

[2017-09-27 21:37] jjallaire commented on #91
That said, R users are used to not having to think about numeric types so
if there is clean way to do that I'd be in favor of it.

On Wed, Sep 27, 2017 at 2:56 AM, Yuan (Terry) Tang <notifications@github.com

[2017-09-27 21:46] terrytangyuan commented on #91
Agreed. In this case I think we can do what you suggested @kevinushey since we know it's a classification that we are dealing with.

[2017-09-28 01:02] #80 closed

[2017-09-28 01:03] terrytangyuan commented on #54
Is this still necessary? I felt like tfruns already provided this.

[2017-09-28 01:04] jjallaire commented on #54
Agreed. I think we are all set here.

On Wed, Sep 27, 2017 at 9:03 PM, Yuan (Terry) Tang <notifications@github.com

[2017-09-28 01:05] terrytangyuan commented on #54
Sounds good!

[2017-09-28 01:05] #54 closed

[2017-10-06 03:59] adder opened #93 "input_fn not working with list input"
Hey I need to use lists as in input for my estimator since (RNN with variable length input).
But I get always a type error as you can see in the minimal example below.

Is this a bug or am I using input_fn the wrong way?
I looked in the documentation but I don't think there is a working example anywhere.
Maybe this would be a nice addition to the documentation or maybe even better an example on us

[2017-10-06 12:31] jjallaire commented on #93
@terrytangyuan Could you take a look at this?

It seems like this should be possible, but currently `input_fn.list` is just an alias for `input_fn.data.frame`.

[2017-10-06 13:15] terrytangyuan commented on #93
Yeah `input_fn.list` is not well-tested yet since we don't have RNNEstimators very soon. I will look into more in details. But in the meantime you can try construct your input similar to what's done in this example: https://github.com/rstudio/tfestimators/blob/master/vignettes/examples/tensorflow_layers.R
Though it really just uses numpy and `numpy_input_fn` to get the input needed and get around

[2017-10-06 13:27] terrytangyuan commented on #93
Something like this would work:
[code]
But it won't work in your case since you are really passing a list containing numpy objects. `input_fn.list` only works with nested lists of R base objects.

[2017-10-06 14:07] adder commented on #93
Hey
Yes I did end up converting everything to numpy objects and sending it over `numpy_input_fn`. I guess this is the way to go for now. I tried something similar to your last examples with the list of lists but could not figure out how to use effectively it in my case.

RNNEstimators might not be available but I guess many people are using RNNs in custom Estimators ( I do at least :) )

Best

[2017-10-06 14:11] terrytangyuan commented on #93
Very good to know! Please let us know if you encounter any other issues!

[2017-10-06 14:13] #93 closed

[2017-10-07 13:10] dominiqueemmanuel opened #96 "`crossed_columns` assume a `key` attribute, but some objects do not have this attribute"
Firstly I would like to thank you for all the great works in this package!

This issue concerns (or appears in) the [example wide and deep](https://github.com/rstudio/tfestimators/blob/master/vignettes/examples/wide_and_deep.R).

I run everything in the example, but the instruction produces an error:
[code]

The function `crossed_columns` seems to manage objects with a `key` attribute (I guess it

[2017-10-07 14:22] terrytangyuan commented on #96
@jjallaire @kevinushey Could you take a look at this issue? @dominiqueemmanuel What is the result of your `tensorflow::tf_config()`?

[2017-10-07 15:17] dominiqueemmanuel commented on #96
Here is the corresponding result:
[code]

[2017-10-07 15:35] jjallaire commented on #96
@kevinushey Maybe we just need to ammend this commit (https://github.com/rstudio/tfestimators/commit/abfd1c59faeb733f2fc6ac375f2c93fdbf483a30) to look for both `key` and `keys`?

[2017-10-07 15:39] jjallaire commented on #96
Note that any fix now needs to go onto the v1.3.0 branch which we can then merge into master.

[2017-10-08 01:52] terrytangyuan commented on #96
@jjallaire Just created v1.3.0 branch and deleted v1.3.0 tag. Could you make that branch protected in addition to master branch?

[2017-10-08 02:12] kevinushey commented on #96
The intention of that bit of code is to eliminate duplicated columns (e.g. if a column happened to be captured by multiple `tidyselect` criteria). Perhaps a better solution is to shrink the set of available columns as they get matched, rather than cleaning up at the end?

[2017-10-08 16:04] jjallaire commented on #49
If we don't want to change the return value of predict (which given the discussion in this thread is certainly a reasonable position) I think we need a suite of functions that can clean up predict output from canned estimators for easy inspection and visualization. Every internal user that has tried to use tfestimators runs into the issue of predict output immediately and ends up hand rolling a so

[2017-10-08 21:01] terrytangyuan commented on #49
Yeah I totally agree.

For example, the following (just fixed one thing at HEAD so please pull):
[code]
would give you a list of items where each item looks like this:
[code]
So it looks pretty easy to wrap the results from the existing canned estimators - linear and dnn.

What I am uncertain about is prediction output of the time series estimators (in contrib) that I am helping to move to core. B

[2017-10-08 21:03] jjallaire commented on #49
How about we add a `simplify` argument (sort of like the apply family of R functions) and have it default to "auto". We could always simplify things that are clearly simple vector data and do some other auto-simplification for canned estimators. If in the process of doing this we develop some functions of more general applicability we can export them.

[2017-10-09 12:26] adder opened #99 "Where does hook_logging_tensor log?"
Hey,
I'm a bit at a loss how `hook_logging_tensor` works.
I'm using it as described in the example : https://github.com/rstudio/tfestimators/blob/master/vignettes/examples/tensorflow_layers.R
But I don't see any logging info printed or written to a file. Where should I look and how should I use this hook?

Best

[2017-10-09 13:17] terrytangyuan commented on #99
It will only log during prediction phase https://github.com/rstudio/tfestimators/blob/master/vignettes/examples/tensorflow_layers.R#L69

I forgot to include a predict() call to this example. I will add that tomorrow but could you try that and see if it logs that tensor?

[2017-10-09 13:57] jjallaire commented on #49
Here is a more formal proposal:

- `predict(..., simplify = TRUE)` by default. `simplify` can be either `TRUE` (simplify if possible), `FALSE` (never simplify) or a custom function that takes a list and performs a simplification.

- We implement simplifiers for all of the canned estimators for which this is practical

- We provide a hook for custom estimators to provide a simplifier (perhaps this

[2017-10-09 14:10] adder commented on #99
You're right, thanks!
When it put the hook in `predict()` something gets printed to the r interpreter.
So to get things straight:
1) It's only possible to use `hook_logging_tensor` with `predict()`? I did not get this from the documentation.
2) You can only log to the interpreter? Not for example to a file.

Thanks again for the quick answer!

[2017-10-09 22:01] terrytangyuan commented on #49
Thanks for the detailed proposal! Yes, I'll tackle this soon!

On Mon, Oct 9, 2017 at 8:58 AM JJ Allaire <notifications@github.com> wrote:

[2017-10-09 22:25] jjallaire commented on #96
This issue should now be resolved so I'll close (feel free to re-open if you still see problems on your end)

[2017-10-09 22:25] #96 closed

[2017-10-10 19:21] terrytangyuan opened #101 "Move generic s3 signatures to tensorflow"
See discussions in https://github.com/rstudio/tfestimators/pull/95

[2017-10-10 19:24] terrytangyuan commented on #99
1) The reason it's only happening during predict() in the example is that we are giving a `name` to a tensor that's only being returned in prediction mode - `mode_keys()$PREDICT` (see below). You can do something similar in other modes/phases as well.
[code]
2. Yes it only logs to the interpreter (at least the way it is currently). You can return those tensors you need from the list of `prediction

[2017-10-10 19:48] terrytangyuan opened #102 "Backward compatibility"
Per JJ:

Our principle is that all versions of our R wrapper packages should work with the current TF version (dev master if possible) as well as all previous versions back to some threshold. For example, the tensorflow package works on all versions of tensorflow back to v1.0 and the Keras package works on all versions of Keras from 2.0.8 all the way back to 2.0.0. If we don't do this it becomes v

[2017-10-10 22:20] terrytangyuan commented on #102
@jjallaire I am trying to work on this issue [here](https://github.com/rstudio/tfestimators/commit/ef06e7e7ca6ce7f163f54da674d5a83ea974e0fd) and getting the following error:
[code]
Is there anything I am missing that I could borrow from Keras?

[2017-10-11 00:59] jjallaire commented on #102
It would be good to narrow down where exactly the error is coming from. Could you figure out exactly what triggers the error? Could it be something coming from `...` ?

[2017-10-11 01:26] terrytangyuan commented on #102
Do you have any suggestions on how to narrow this down? I tried to remove `...` but it gives the same error happening in `do.call()`. Here is the stacktrace if it's useful:

[code]

[2017-10-11 01:29] jjallaire commented on #102
Maybe look at the types of all of the args before you pass them in to see if anything looks non-convertable? I can pull down this branch and take a closer look in the morning.

[2017-10-11 01:43] terrytangyuan commented on #102
Thanks for the suggestions! I think I just figured it out - I passed unnecessary items to `args` that doesn't work with `object$estimator$train`!

[2017-10-11 02:00] jjallaire commented on #102
Excellent, glad you figured it out!

On Tue, Oct 10, 2017 at 9:43 PM, Yuan (Terry) Tang <notifications@github.com

[2017-10-11 11:52] #102 closed

[2017-10-13 21:34] terrytangyuan commented on #101
This is done in https://github.com/rstudio/tfestimators/commit/ee4830487d7c49d87dda90a197dc1d18ea014ebd. Thanks @jjallaire!

[2017-10-13 21:34] #101 closed

[2017-10-15 02:26] terrytangyuan opened #107 "`input_fn.list` implementation for custom estimator is broken"
Looks like [this commit](https://github.com/rstudio/tfestimators/commit/b25ed6ba13b50657f30c3362d5f0493b2e547b95#diff-9ae668830f25aa9f78614de86f263bd5) breaks `input_fn.list` for custom estimators.

Note that we were using `TRUE` and `FALSE` to toggle different `input_fn` implementations, which was not correct after that commit because we are [checking `estimator`'s class to toggle the different i

[2017-10-17 01:43] kevinushey commented on #107
Sorry to come back to this again, but do we _really_ need to support this? In my experience, users almost never encounter or use data in this 'list-of-lists' format; it's almost always tabular. The only exception in the R universe is so-called list-columns, but those are still used as members of a data frame.

Do we have some evidence of real, live TensorFlow applications that expect data in this

[2017-10-17 01:56] jjallaire commented on #107
I think text data is often in this form factor. Also, the TF Datasets API
and documentation seem to imply that this is an anticipated/mainstream use
case (they have lots of stuff for dealing with nested structures of tensors
as "datasets"
On Mon, Oct 16, 2017 at 9:43 PM Kevin Ushey <notifications@github.com>
wrote:

[2017-10-17 09:36] jjallaire commented on #107
I agree however that if the list structure is fundamentally just defining a rectangular structure expressed as a nested list that we are fine just asking users to get this into a data frame or matrix. Let's see what @terrytangyuan has to say here.

[2017-10-18 00:38] terrytangyuan commented on #107
Main motivation comes from need to feed in sequences with variable length to RNNs ([this post might be helpful](https://danijar.com/variable-sequence-lengths-in-tensorflow/)) without padding as part of the pre-processing (thus might be non-rectangular structure). Example datasets are irregular time series, sequence data for translation tasks, etc.

That being said, we can also probably hold off on

[2017-10-18 17:45] dfalbel commented on #107
Also some models deals with list of inputs. See for example ACGAN here: https://github.com/rstudio/keras/blob/master/vignettes/examples/mnist_acgan.R#L242

[2017-11-02 16:59] kevinykuo opened #110 "Error when using initializable iterator with estimator"
Motivation: we want to be able to use a hash table to map string labels to integers on the fly when using the datasets API. This requires using `make_initializable_iterator()` instead of `make_one_shot_iterator()` at https://github.com/rstudio/tfdatasets/blob/master/R/dataset_iterators.R#L72. See e.g. https://stackoverflow.com/questions/44374083/tensorflow-cannot-capture-a-stateful-node-by-value-i

[2017-11-03 14:48] kevinykuo commented on #110
Actually, this isn't a great example since the classifiers in `estimators` have a `label_vocabulary` argument. We might not run into this issue with the keras API. Let me experiment a bit and report back. We might not have a problem at all.

[2017-11-03 15:08] terrytangyuan commented on #110
Yes, you should really take advantage of `label_vocabulary`. I am not sure what the problem is on top of my head but it would be great if you could make a minimal reproducible Python code to see if this is something on R end or not.

[2017-11-08 21:16] terrytangyuan commented on #46
Check out this folder for officially supported/maintained/tested examples using estimators: https://github.com/tensorflow/models/tree/master/official.

[2017-11-09 21:39] terrytangyuan opened #113 "Tests failing under TF nightly builds"
Example failing log: https://travis-ci.org/rstudio/tfestimators/jobs/299818339

[2017-11-11 02:19] terrytangyuan commented on #113
It's the `tensorboard` calls that failed the Travis tests on TF nightly version. I commented them out temporarily for now: https://github.com/rstudio/tfestimators/commit/c31ff1705f51797bd47e25f81ca7b9b047694d21. @jjallaire Have you seen similar errors using `tensorboard` for Keras models?

[2017-11-11 03:37] terrytangyuan opened #114 "Bring back `hook_view_metrics`"
This was removed in https://github.com/rstudio/tfestimators/commit/1be2d5593b1f3043e3b7b5e855dc1c5d46d73ad2 and was not working properly.

[2017-11-11 23:28] #99 closed

[2017-11-11 23:29] #49 closed

[2017-11-20 08:52] lukasthaler opened #115 "export_savedmodel crashing with dnn_linear_combined_classifier"
Long story short: i built a dnn_linear_combined_classfier and trained it, which went perfectly fine. When I wanted to serialize it to disk using export_savedmodel( ), it failed with an error.

Here's the error and traceback (wad_classifier is my dnn_linear_combined_classifier)

` > export_savedmodel(wad_classifier)
Error in py_call_impl(callable, dots$args, dots$keywords) :
  TypeError: 'NoneType'

[2017-11-20 11:23] jjallaire commented on #115
@javierluraschi Could you take a look at this?

[2017-11-21 20:12] #115 closed

[2017-11-21 20:12] terrytangyuan commented on #115
@lukasthaler Thanks for reporting! Just fixed this in master. Could you try again?

[2017-11-22 09:20] lukasthaler commented on #115
@terrytangyuan exporting works like a charm now, thanks!

But, without having made any changes to my code, I am getting an unused argument error now when trying to call predict( ) with my classifier:

Error in predict(., input_fn = wad_pred_input_fn(wad_test_data)) :
  unused argument (input_fn = wad_pred_input_fn(wad_test_data))

Oddly enough, calls to evaluate( ) still work without any issues. I

[2017-11-22 11:59] terrytangyuan commented on #115
Could you share a detailed error with stack trace?

On Wed, Nov 22, 2017 at 4:20 AM Lukas Thaler <notifications@github.com>
wrote:

[2017-11-23 07:35] lukasthaler commented on #115
Here's the information traceback( ) returns:

Error in predict(., input_fn = wad_pred_input_fn(wad_test_data)) :
  unused argument (input_fn = wad_pred_input_fn(wad_test_data))

8: function_list[[k]](value)
7: withVisible(function_list[[k]](value))
6: freduce(value, `_function_list`)
5: `_fseq`(`_lhs`)
4: eval(quote(`_fseq`(`_lhs`)), env, env)
3: eval(quote(`_fseq`(`_lhs`)), env, env)
2: withVisib

[2017-11-23 13:22] terrytangyuan commented on #115
I don't see how this error is related to the change I made. It would be better if you could share a minimal reproducible example and file a separate issue. Thanks!

[2017-11-23 14:19] lukasthaler opened #116 "dnn_linear_combined_classifier prediction fails with unused argument error"
The issue is pretty straightforward: my instances of a dnn_linear_combined_classifier won't predict anything, failing with an unused argument exception. Below I provide a minimal example that generates the error as well as the error message and the traceback. I am using RStudio ver 99.9.9 and python 2.7. The `tfestimators` package is on the latest version, I reinstalled it just today

[code]

The

[2017-11-23 14:20] lukasthaler commented on #115
I just did in #116

[2017-11-23 20:52] terrytangyuan commented on #116
I wasn't able to reproduce the issue. What version of TF have you installed, e.g. `tensorflow::tf_config()`?

[2017-11-23 22:29] #113 closed

[2017-11-24 07:57] lukasthaler commented on #116
It seems there is something wrong with my tensorflow. I removed everything and am currently trying to reinstall, but I am meeting unexpected errors. I will get back to this once i successfully get an installation up and running

[2017-11-27 13:17] lukasthaler commented on #116
Okay, a fresh installation of tensorflow did the trick. Everything is working fine now. Still bugs me what exactly caused the error, but it was within the tf installation

[2017-11-27 13:17] #116 closed

[2017-11-27 13:44] terrytangyuan commented on #116
Great. Thanks!

On Mon, Nov 27, 2017 at 8:17 AM Lukas Thaler <notifications@github.com>
wrote:

[2017-11-27 19:23] dfalbel opened #117 "Using custom prediction function in prediction"
Suppose I need to do downsampling in each batch during training. Since I can't create all batches before start training I created an input function like this:

[code]

And I was able to train the following model:

[code]

Now, I want to create predictions, and I created an special input_fn for prediction like this:

[code]

And It gives me the following error:

[code]

I'm sure I'm doing something

[2017-11-30 13:40] MartinGeierino opened #118 "Wide and Deep Tutorial - ValueError: Column dtype and SparseTensors dtype must be compatible"
Hi,

I've tried the wide and deep tutorial from: https://tensorflow.rstudio.com/tfestimators/articles/examples/wide_and_deep.html

I didn't make any changes to the code and it runs fine until line:
`train(model, input_fn = train_input_fn, steps = 2)`

This line throws following error:

TF Config:
TensorFlow v1.3.0 (C:\Users\Martin\AppData\Local\conda\conda\envs\R-TENS~1\lib\site-packages\tensorflo

[2017-11-30 16:01] kevinykuo commented on #118
Will take a look!

[2017-11-30 18:22] kevinykuo commented on #118
Issue was that we were reading in character columns as factors and passing those to feature columns that expect characters. PR with fix opened.

[2017-11-30 18:22] #118 closed

[2017-11-30 19:30] terrytangyuan commented on #118
Great! That's quick!

[2017-12-04 20:48] #110 closed

[2017-12-04 20:50] kevinykuo opened #121 "Consider renaming or removing coef.tf_estimator()"
It returns trained weights so the name isn't great and I wonder how it's currently being used?

[2017-12-05 01:08] jjallaire commented on #121
@terrytangyuan or @kevinushey can you provide some insight here?

[2017-12-05 01:13] terrytangyuan commented on #121
There is now get_variable_name and get_variable_values in Python API (
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/estimator/estimator.py#L235).
I think we can rename it to variables()?

On Mon, Dec 4, 2017 at 8:08 PM JJ Allaire <notifications@github.com> wrote:

[2017-12-05 01:15] terrytangyuan commented on #121
Or we can just provide wrappers for those two existing Python functions to
be consistent.

On Mon, Dec 4, 2017 at 8:12 PM Yuan Tang <terrytangyuan@gmail.com> wrote:

[2017-12-05 05:51] kevinykuo commented on #121
I think a rename + refactor using the two methods mentioned above is appropriate. Will send a PR.

[2017-12-05 06:14] kevinushey commented on #121
`coef()` seemed like the closest analogue in the set of `stats` generics but I agree that a separate name may be better.

[2017-12-05 23:18] #121 closed

[2017-12-07 20:54] kevinykuo opened #125 "Total steps in progress bar misleading"
E.g.
[code]
Since `nrow(mtcars)` is 32, we actually don't get to 100 steps. Expected behavior is probably stopping at 1/100.

@kevinushey got any thoughts/tips on this?

[2017-12-08 22:10] kevinushey commented on #125
I believe this is the offending line of code: https://github.com/rstudio/tfestimators/blob/45247bfae53766c8992aa6bf63d56ebc02ab7f89/R/session_run_hooks_custom.R#L109

I vaguely recall there being trouble attempting to reset the upper bound in the progress bar, so this was the compromise I settled on. However, we might want to work around this by just using a plain spinner progress bar, since the n

[2017-12-12 18:09] kevinykuo commented on #125
@kevinushey thanks to your tip this was a quick fix. I settled on just freezing the progress bar for the aesthetics with a message, let me know if this bothers you!

[code]

[2017-12-12 18:11] #125 closed

[2017-12-12 18:20] kevinushey commented on #125
Nice; LGTM!

[2017-12-15 08:06] saifrais opened #130 "Need clarity on Importing/Reloading saved models from disk"
Currently, the documentation on tfestimators gives us a clear understanding on export_savedmodel. But there is no specific function/documentation to import already trained models for prediction. Can we have an example of importing an existing model built using tfestimators (canned/custom)?

[2017-12-15 16:51] terrytangyuan commented on #130
You can use the `model_dir` argument in the estimator constructors to specify a path to load previously trained model and then perform you tasks, e.g. continue training, make predictions, etc.

[2017-12-15 17:57] jjallaire commented on #130
@kevinykuo I wonder if we should cover this more prominently in the documentation and examples (i.e. having an explicit model_dir and using it to restore a model for inference.

[2017-12-15 20:32] saifrais commented on #130
It would be really useful...cos the predict function requires an estimator object as an argument. I am still not sure how to use the model stored in model_dir without respecifying the estimator. I assume export_savedmodel documentation has a TODO on the same topic (in documentation)

[2017-12-15 21:20] jjallaire commented on #130
Okay, @kevinykuo let's add some documentation on this both to the README as well to the "Estimator Basics" article (it may even warrant another top-level article that in addition covers `export_savedmodel` (which isn't given much attention in the current docs)

[2018-01-04 12:55] #130 closed

[2018-01-11 17:28] dfalbel opened #136 "Best practices for tfestimators"
I'm working on an end-to-end example for tfestimators but I'm still having trouble to understand best practices.

Consider the Wide & Deep Example available [here](https://tensorflow.rstudio.com/tfestimators/articles/examples/wide_and_deep.html)

We start by defining all categorical values and their possible values. Eg.

[code]

This is ok for small datasets, but for datasets with more variables t

[2018-01-11 19:01] terrytangyuan commented on #136
@dfalbel Have you tried [pattern matching for feature columns](https://tensorflow.rstudio.com/tfestimators/articles/feature_columns.html#pattern-matching)?

[2018-01-11 20:35] dfalbel commented on #136
yes, but i didn't figure out how to use it with categorical variables since
we need to specify a different vocabulary for each variable.

Em qui, 11 de jan de 2018 17:01, Yuan (Terry) Tang <notifications@github.com>
escreveu:

[2018-01-13 23:07] terrytangyuan commented on #136
@dfalbel I am trying to understand what you cannot achieve using pattern matching. Could you elaborate a bit? As for your other questions, there might be something wrong in the Python API. Could you try running their official wide and deep example in Python to see if the results are similarly problematic?

[2018-01-13 23:10] terrytangyuan commented on #117
I think your custom model function is defined problematically. The ValueError happens in `sigmoid_cross_entropy()`, which means you are passing None values to it. Try defining your model function more carefully using `mode` and calculate/return only the things that are valid for that particular mode.

[2018-01-14 19:30] dfalbel commented on #136
@terrytangyuan suppose I have this df:

[code]

I can use pattern matching to create feature columns or numeric vars, eg:

[code]

But, for categorical columns I can't because I need to pass a different vocabulary for each column. For example:

[code]

I'll run the wide & deep example from python as soon as possible too.

[2018-01-14 19:37] terrytangyuan commented on #136
Oh I see. There isn’t existing good practice for that yet so feel free to submit PR to show an example, e.g. using map2() and unique().

[2018-01-15 12:35] jjallaire commented on #136
I am going to submit a CRAN update to tfestimators soon (next few days) and just wanted to check in here to make sure there aren't any changes/fixes needed as a result of this thread before I do that.

[2018-02-17 22:53] terrytangyuan commented on #40
API change:
New `yield_single_examples` parameter for `predict()`: https://github.com/tensorflow/tensorflow/pull/16991/commits/f3ebb0b165563192bd80f5dd34a04cd0ac37ff6f

[2018-02-18 18:13] terrytangyuan commented on #40
Warm start utilities: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/estimator/warm_starting_util.py

[2018-03-01 20:44] viddagrava opened #141 "export_savedmodel - '_IndicatorColumn' object has no attribute 'shape'"
I am planning to move from h2o to tensorflow and as I prefer R, I was happy finding this great library. In my dataset, I generally have quite some factors as input variables, so I created the following toy example, where `x2` is a factor:

[code]

the model is trained completely fine, however exporting fails with the following error message:
`Error in py_get_attr_impl(x, name, silent) :`
  `Attrib

[2018-03-01 21:39] jjallaire commented on #141
@javierluraschi Could you take a look at this one?

[2018-03-02 10:31] viddagrava commented on #141
I think the problem lies in R/tf_estimator export_savedmodel function at line 382:
[code]

and the indicator column created by the function looks like this:
`_IndicatorColumn(categorical_column=_IdentityCategoricalColumn(key='x2', num_buckets=26, default_value=None))`

Seemingly, since tf.version > 1.4, the features list for `tf$estimator$export$build_raw_serving_input_receiver_fn` is built in thi

[2018-03-02 11:42] jjallaire commented on #141
@javierluraschi Could you see if there is a straightforward resolution to this?

[2018-03-07 04:45] terrytangyuan commented on #141
I am not sure what the logics are for those version checks so I'll let @javierluraschi  answer that.

@viddagrava Quick solution is to provide your own `serving_input_receiver_fn`. The following should work for you:
[code]

[2018-03-07 04:52] terrytangyuan commented on #141
Also I saw some warnings:
[code]

@javierluraschi Is there any particular reason we are appending a "."
 to the path `file.path(export_result, ".")` [here](https://github.com/rstudio/tfestimators/blob/3150cf13b211c7b285aee117bfbfc68b63d628b4/R/tf_estimator.R#L415)?

[2018-03-07 08:37] viddagrava commented on #141
@terrytangyuan I was trying, what you recommended, but then I could even test the model with tfdeploy. Furthermore, I couldn't find anything in the documentation, how one needs to format the input (list, tensors or something else)? Any hint on that?

[2018-03-07 12:43] terrytangyuan commented on #141
@viddagrava There isn't much documentation at this moment. The only hints on could find at this moment were the test cases (and we need more of that) and the source code. This is definitely something we are trying to improve on and we welcome your contributions too!

That being said, is the temporary solution working for you now？

[2018-03-07 12:56] viddagrava commented on #141
@terrytangyuan up to saving yes, it works. However, the major point is that I am looking for an easier deployment solution. Due to company policies, CloudML or Rstudio Connect can't be an option, and I also had struggles just to build and configure tensorflow-serving. I would love to have a very light-weight solution, that I could easily integrate into a microservices infrastructure.

[2018-03-08 09:10] viddagrava commented on #141
@javierluraschi @terrytangyuan Thanks for the ideas and work guys, I will check out the updates in tfdeploy.

Nevertheless, I would have some questions/comments regarding point two. I believe the major issue here is how to propagate the low-level handling of categorical variables up to tfestimators/tfdeploy. Would it make sense to introduce some more functionality in the libraries helping in the E

[2018-03-16 17:37] cj-wilson commented on #136
Did any updated examples get put into a vignette somewhere?  This is very similar to a problem I have where I'm trying to convert a factor variable to one hot encoded values but the dnn_classifier takes neither a straight indicator or categorical_with_vocabulary_list.

[2018-03-16 19:54] cj-wilson opened #144 "Problem with column_categorical_with_vocabulary_list"
I'm trying to write a classifier for churn using sales and agent ID.  I'm having an issue with column_categorical_with_vocabulary_list(), or reshaping the agent column properly.  I had another model that used recipe::step_dummy effectively, this one has me though and I don't quite grok from the examples if this is correct or not.

Here's the toy example, error, and sessionInfo().

The model.

[cod

[2018-03-16 20:25] jjallaire commented on #144
@kevinykuo Could you take a look at this one?

[2018-03-16 21:03] cj-wilson commented on #144
I was able to debug my way to an answer; but with more questions.

1. The input looks like it has to be class of data.frame and not tbl_df (please double check my work)
2. The factor columns had to be converted to character (thank you stringsAsFactors defaults) before it would train.

The major question I have is why does it appear that I have to wrap column_categorical_with_vocabulary_list() with

[2018-03-19 21:20] kevinykuo commented on #144
@cj-wilson a `tbl_df` should be fine since it's also a `data.frame`, if you see behavior to the contrary, let us know with a reprex and we'll look into it.

`column_categorical_with_vocabulary_list()` parses the string input and spits out a feature column of integers, which you'll have to in turn encode with e.g. `column_indicator()`.

Estimators take a bit of getting used to. There's a series of

[2018-03-23 00:26] javierluraschi commented on #141
Thanks for the additional info, @viddagrava. I agree with you that performance/efficiency would be lost if one needs to preprocess data by hand. As we mentioned during QA in one of the [rstudio::conf](https://www.rstudio.com/resources/videos/deploying-tensorflow-models-with-tfdeploy/), we would like to add support to process more operations in the TF graph itself. Right, would be great to have som

[2018-03-29 13:08] eddelbuettel commented on #46
Any progress?  I started noodling with a first example from .py to .R but didn't get too far yet.

[2018-03-29 17:36] terrytangyuan commented on #46
@eddelbuettel No progress on this at least from my end. It would be very nice to rewrite those TF Estimators official tutorials in R.

[2018-04-02 17:37] terrytangyuan commented on #40
@jjallaire  `BoostedTreesClassifier` and `BoostedTreesRegressor` are now indeed available in core [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/estimator/canned/boosted_trees.py):

Also `estimator.WarmStartSettings` was presented during summit as well that can be used for linear/DNN estimators, which is worth looking into as well.

[2018-04-02 17:51] jjallaire commented on #40
Oh that's great! @kevinykuo What would you think about adding `boosted_trees_classifier()` and `boosted_trees_regressor()` to the package?

[2018-04-02 18:08] kevinykuo commented on #40
I'll take a look. Would be interesting to see how this compares to h2o/h2o4gpu. @terrytangyuan are there existing benchmarks yet?

[2018-04-02 18:19] terrytangyuan commented on #40
Not yet. But I know that @szilard is working on benchmarking h2o4gpu in https://github.com/szilard/benchm-ml. Perhaps we can coordinate once we have those tree estimators in.

[2018-04-02 18:38] szilard commented on #40
h2o4gpu for GBMs is essentially xgboost on GPU (well, the R API h2o4gpu still needs to add support for sparse matrices (waiting for reticulate for that) to be as fast as xgboost).

Anyway, I have an minimal benchmark of what I think are the most widely used and best performing GBM implementations here (CPU and GPU): https://github.com/szilard/GBM-perf though I'm using only 1 dataset, a major drawb

[2018-04-02 20:08] terrytangyuan commented on #40
@szilard Thanks. Yea there's now a boosted tree based on TF Estimators API which should be more friendly now. @kevinykuo is working on adding that to the R API (this repo). We'll keep you posted once it's usable.

[2018-04-02 20:14] szilard commented on #40
I could try out the Python API actually. Btw I wonder if TF GB supports sparse matrices. When you have  categorical data (i.e. almost always for business problems/data) you can get even 10x faster in speed and 10x lower on memory usage if you deal directly with cats (e.g. lightgbm) or you do the 1-hot encoding with sparse matrices (e.g. xgboost).

[2018-04-02 20:27] terrytangyuan commented on #40
@szilard Yes, theoretically you can provide sparse tensors inside the input function (see [this section](https://www.tensorflow.org/programmers_guide/estimators#structure_of_a_pre-made_estimators_program))but I've never tried it before. Feel free to try it out and report any issues to TensorFlow and someone there will help out. Right now you can find some examples of TFBT in the test [here](https:

[2018-04-14 07:56] fzhang612 opened #145 "how to use parameter combiner in function column_embedding()"
I am having some difficulties to understand how to use the combiner parameter in function column_embedding() from the help document.

Let's say i have a simple 3 row data frame `data_frame( x = c('a', 'b', 'a b') )`. If I want to embed variable `x` into a 2 dimension vector, I will do `column_embedding( column_categorical_with_vocabulary_list( 'x', vocabulary_list = c('a', 'b'), dimension = 2, com

[2018-04-14 12:51] terrytangyuan commented on #145
Yes your understanding is correct. This might be helpful as well: https://www.tensorflow.org/versions/master/get_started/feature_columns#indicator_and_embedding_columns

[2018-04-14 13:28] kevinykuo commented on #145
Wouldn't the `'a, b'` be out of vocabulary in this case? Does `column_categorical_*` do tokenization?

[2018-04-14 18:26] terrytangyuan commented on #145
Sorry yea that would be out of vocabulary. It doesn't do tokenization. The documentation for combiner is actually more detailed in [embedding lookup sparse](https://www.tensorflow.org/versions/master/api_docs/python/tf/nn/embedding_lookup_sparse) which is what embedding column is based on.

[2018-04-15 03:40] fzhang612 commented on #145
thanks, guys!

After running thru some dummy data I can confirm the previous code doesn't work as expected.

I have to admit that [embedding lookup sparse](https://www.tensorflow.org/versions/master/api_docs/python/tf/nn/embedding_lookup_sparse) is a bit abstract to grasp. Hope to see some concrete examples in R to demonstrate how this can be done

[2018-04-23 14:11] terrytangyuan opened #146 "Support for boosted trees estimators"
BoostedTreesClassifier and BoostedTreesRegressor are now indeed available in core [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/estimator/canned/boosted_trees.py).

@kevinykuo Let's use this issue to track progress since https://github.com/rstudio/tfestimators/issues/40 is only used for personal tracking of various upstream changes.

[2018-04-23 14:22] #57 closed, assigned to nobody

[2018-04-30 18:56] SergioAlonsoLab opened #148 "performance of the iris_dnn_classifier example"
This might be a very basic question.
I'm running the example provided in https://tensorflow.rstudio.com/tfestimators/articles/examples/iris_dnn_classifier.html

[code]
To ensure reproducibility, I added a second `set.seed(123)` right before the training.
When comparing the predictions to the actual values in the test dataset, I found that all cases in this dataset have been predicted to belong to

[2018-04-30 19:04] SergioAlonsoLab opened #149 "tfestimators linear_regressor and dnn_regressor vs lm"
Good afternoon,
I'm just starting to learn tfestimators. I was interested on comparing the performance of `linear_regressor()` and `dnn_regressor()` vs a "standard" `lm()`. My results, however, are very disconcerting.
I paste in here a self-contained example:

[code]
I am not sure what I am missing, but the predictions of both linear_regressor and dnn_regressor are extremely poor. I haven't been a

[2018-04-30 19:08] kevinykuo commented on #148
Try training the model for more iterations, e.g.
[code]

[2018-04-30 19:31] SergioAlonsoLab commented on #148
Thanks a lot, Kevin.
I knew I was missing something obvious...

[2018-05-01 07:28] SergioAlonsoLab commented on #149
I found out that the input function should indicate `num_epochs` not `epoch`
I close this issue
thanks!

[2018-05-01 07:28] #149 closed

[2018-05-03 04:32] kevinykuo commented on #146
Taking a stab at this.

[2018-05-03 04:48] kevinykuo opened #150 "More stringent checks on inputs"
E.g. for an integer parameter we should check that the input is length-one and isn't a fractional double.

[2018-05-04 13:32] kevinykuo commented on #146
@terrytangyuan Currently I think there's a problem with the gradient calculation not liking integer labels. Here's the proposed fix https://github.com/tensorflow/tensorflow/compare/master...kevinykuo:bugfix/boosted-trees-labels-cast -- could you take a look to see if it makes sense? (Python noob here!)

[2018-05-04 22:17] terrytangyuan commented on #146
The change looks good to me. Let's see if TF team has any comments on it (they may have some internal requirement regarding the performance).

[2018-05-07 18:46] kevinykuo opened #151 "Enable unit tests for boosted trees classifier with integer labels"
Pending upstream issue.

[2018-05-07 19:38] #146 closed

[2018-05-07 20:14] kevinykuo opened #153 "Update site docs"

[2018-05-11 16:35] kevinykuo commented on #153
@terrytangyuan how do I generate the references automatically?

[2018-05-11 18:33] terrytangyuan commented on #153
You need to add it to the config here: https://github.com/rstudio/tfestimators/blob/master/pkgdown/_pkgdown.yml
and then do a `pkgdown::build_site(pathToPackage)`.

[2018-05-11 18:35] jjallaire commented on #153
Actually, don't do the build_site (we take care of that separately when
building tensorflow.rstudio.com

On Fri, May 11, 2018 at 2:33 PM, Yuan (Terry) Tang <notifications@github.com

[2018-05-11 18:55] terrytangyuan commented on #153
Oh right I kept forgetting that. We can just remove /docs folder altogether then.

[2018-05-11 19:03] #150 closed

[2018-08-27 12:49] #151 closed

[2018-08-28 22:09] terrytangyuan commented on #153
Now that v1.9 is there. Could you add boosted trees estimators to the [API reference](https://tensorflow.rstudio.com/tfestimators/reference/)?

[2018-09-23 16:12] kevinykuo opened #156 "Remove lang_head/tail usage"
Will be deprecated per Lionel.

[2018-10-31 01:58] weirubin opened #157 "function reference typo in help page: *_column vs. column_*"
Should ***embedding_column***  be ***column_embedding***? https://github.com/rstudio/tfestimators/blob/f054d60d640c6cb2e2e0b547c2a13dc17bcc82eb/R/feature_columns.R#L228

Should ***categorical_column*** be ***column_categorical***?
https://github.com/rstudio/tfestimators/blob/f054d60d640c6cb2e2e0b547c2a13dc17bcc82eb/R/feature_columns.R#L189
https://github.com/rstudio/tfestimators/blob/f054d60d640c6

[2018-11-02 12:10] jjallaire commented on #157
Thanks for reporting this! Fixed here: https://github.com/rstudio/tfestimators/commit/c23bb1453ddb9357ec8f2c86fc7a52a78a2fd678

[2018-11-02 12:10] #157 closed

[2018-11-05 08:47] baslia opened #159 "Environment variable issue (rlang , as_data_mask() deprecated)"
Hello,
with the update of rlang, there is an issue, I got a warning message:
The `parent` argument of `as_data_mask()` is deprecated.
Then when I use a named variable in the input_fn() from the tfestimators package, I got a message that says : _The parent argument in as_data_mask() is deprecated
The parent of the data mask is determined from either:
The env argument of eval_tidy()
Quosure environm

[2018-11-05 10:46] kevinykuo commented on #159
Thanks for the report, the deprecation warnings will be addressed in the next update!

[2018-11-05 12:43] jjallaire commented on #159
@kevinykuo Could you put together a PR for this?

[2018-11-05 14:43] baslia commented on #159
Hi thanks,
does it mean that for the next update we can have the last version of rlang without an error when running the code ?
Thanks
Adel

[2018-11-05 19:39] kevinykuo commented on #159
Looks like there's some issues beyond soft deprecating of functions. Investigating.

[2018-11-06 12:15] #159 closed

[2018-11-06 12:15] #156 closed

[2018-11-06 17:43] kevinykuo commented on #159
@baslia this should be fixed on master now, I'll send a patch to CRAN today.

[2018-11-06 21:37] #144 closed

[2018-11-07 07:38] baslia commented on #159
Thanks a lot for the fast great work !

[2018-11-11 19:56] #153 closed

[2018-11-18 19:11] zyaar opened #163 "tfestimator does not work with distribute strategy from tensorflow v1.10 and up, return "C stack usage XX is too close to limit" error"
tfestimator does not appear to work with any of the DistributionStrategy that Google provides for automatic scaling of estimators to multiple GPUs.  It errors out with a "C stack usage XXXX is too close to the limit".

Minimum reproduce-able example (converted to R from:  https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/distribute/README.md)

### library("tensorflow")
librar

[2018-12-06 20:07] zyaar commented on #163
Does anyone monitor this?

[2018-12-06 20:48] kevinykuo commented on #163
Will take a look soon! cc @skeydan

[2019-01-23 10:37] henry090 opened #167 ""predict" and "evaluate" issues"
Hi!
I could train my model:

[code]
For training data ```step_size``` **is okay**.  For test data **is not okay.** It is so small but step_size is infinite:
[code]
I interrupted because it is like an infinite loop.

When I try to predict the first 5 rows of test data again I wait and nothing happens. This is why I interrupted this one, too.

[code]

Overall, only the training process was successfu

[2019-01-23 14:22] henry090 commented on #167
???

[2019-02-16 11:55] #40 closed

[2019-03-08 02:45] lucasfreitas1988 opened #168 "Error: Please use column names for `x`"
Friends, good night!

This error appears when I use the dnn_classifier function in the iris_dnn_classifier example, and I have no idea how to resolve it. I'm using the linear_classifier function usually with the feature_columns argument.

I do not know what to do, I need to set a DNN

Thank you!

[2019-03-25 16:08] oguntee12 opened #169 "input_layer"
The input_layer does not work as intended and the example in the link below is somewhat confusing.
https://tensorflow.rstudio.com/tfestimators/articles/creating_estimators.html

Is there an actual example of the layer being applied with feature_columns?

Thanks.
Babatunde

[2019-03-25 16:09] oguntee12 opened #170 "input_layer"

[2019-03-27 19:08] rehanali opened #171 "Error in py_get_attr_impl(x, name, silent): AttributeError: module 'tensorflow.python.feature_column.feature_column' has no attribute 'numeric_column'"
I am new to Estimator API and trying to run the "iris_dnn_classifier" example from the Estimator API documentation - https://tensorflow.rstudio.com/tfestimators/articles/examples/iris_dnn_classifier.html

I am running this code --
 # construct feature columns
feature_columns <- feature_columns(
  column_numeric(features())
)

Error --
Error in py_get_attr_impl(x, name, silent): AttributeError: mod

[2019-04-15 17:18] #171 closed

[2019-04-18 20:18] dfalbel opened #172 "Select variables by type"
When creating the feature_columns specification it would be nice to be able to select variables by type (not only by name), like in recipes.

[code]

[2019-04-26 22:22] MichaelFerrier opened #173 "AttributeError: module 'tensorflow.python.feature_column.feature_column' has no attribute 'numeric_column'"
Hello,

I have a fresh Windows 10 install of R, RStudio, Python 3.6.8, TensorFlow, and the tfestimators library. However, when I execute a command such as this in R:

feature_cols <- feature_columns(column_numeric("test_column_name"))

I get this error message:

Error in py_get_attr_impl(x, name, silent) :
  AttributeError: module 'tensorflow.python.feature_column.feature_column' has no attribute

[2019-04-27 13:46] mbalcilar commented on #173
I have the sam issue.

[2019-05-04 11:22] daydreamt commented on #173
Same problem on Linux

[2019-05-04 12:19] dfalbel commented on #173
Sorry for the late response. This is probably due to TensorFlow version. Can you please share your `tensorflow::tf_config()`?

We are in the process of moving feature_columns to [`tfdatasets`](https://github.com/rstudio/tfdatasets) together with an easier API to define them. This will probably be on master next week.

For now, a possible workaround is to use `tf$feature_column$numeric_column` dire

[2019-05-04 17:44] MichaelFerrier commented on #173
Thanks for the response. Here is my tensorflow::tf_config():

TensorFlow v1.13.1 (C:\Users\Michael\AppData\Local\Programs\Python\Python36\lib\site-packages\tensorflow\__init__.p)
Python v3.6 (C:\Users\Michael\AppData\Local\Programs\Python\Python36\\python.exe)

The workaround you suggested was successful, I replaced this:

feature_cols <- feature_columns(column_numeric("test_column_name"))

with t

[2019-05-04 19:06] dfalbel commented on #173
Great! Glad it worked!

We will make it much easier to create the feature columns in the near future.

[2019-05-05 03:36] MichaelFerrier commented on #173
A related issue... column_categorical_with_vocabulary_list() produces a similar error, but cannot be solved in exactly the same way. For example:

catcol <- column_categorical_with_vocabulary_list("outcome", vocabulary_list = unique(data_final$outcome))

...results in this error:

Error in py_get_attr_impl(x, name, silent) :
  AttributeError: module 'tensorflow.python.feature_column.feature_column

[2019-05-05 15:37] dfalbel commented on #173
For categorical columns you can use: `tf$feature_column$categorical_column_with_vocabulary_list`

[2019-06-09 12:39] nandofernandesneto opened #174 "Error in py_call_impl(callable, dots$args, dots$keywords) : ValueError: key must be a string. Got: type <class 'list'>"
Hello!

I have been trying to invoke this function:

`cols <- tf$feature_column$numeric_column(names(this.df[-1]))`

where:

names(this.df[-1])
  [1] "Net.1"      "Net.2"      "Net.3"      "Net.4"      "Net.5"      "Net.6"      "Net.7"      "Net.8"      "Net.9"      "Net.10"
 [11] "Net.11"     "Net.12"     "Net.13"     "Net.14"     "Net.15"     "Net.16"     "Net.17"     "Net.18"     "Net.19"     "

[2019-06-09 12:56] nandofernandesneto commented on #174
Btw, it is possible to fix it this way:

`command <- 'cols <- feature_columns(c('

  for (i in 1:length(colnames(this.df[,-1]))) {

    local.command <- paste("tf$feature_column$numeric_column('", colnames(this.df[,-1])[i], "')", sep="")

    if (i < length(colnames(this.df[,-1]))) {

      command <- paste(command, local.command, ",")

    }

    else {

      command <- paste(command, local.comm

[2019-07-28 11:18] #174 closed

[2019-08-28 18:53] nagdevAmruthnath opened #175 "Predict function predicts entire dataset instead of test data"
When I execute this sample code below, everything works with out an error. When I try to use predict function with test data, it results in predicting everything instead of just test data set

[code]
#### Session Information
[code]

Any ideas on why this bug is happending?

[2019-09-06 11:32] #167 closed

[2019-09-08 13:59] IanniMuliterno opened #176 "Problem white trying examples"
Hello, I'm getting to know the tfestimators library by trying some examples and while trying mnist.R I get an error when I run the following line
[code]

the error I get is

*__Error in dir.exists(x) : file name conversion problem -- name too long?__*

I can't find a solution, (my R is up to date)  maybe is this a bug, or something miswritten?

[2019-09-25 08:13] vonjd commented on #173
I am still getting this error when running the example on https://tensorflow.rstudio.com/tfestimators/

When will the fixed version be on CRAN?

Thank you

[2019-10-22 07:12] shitoushan opened #178 "Issue trying example for tfestimator"
[code]

gives me

[code]

`sessionInfo()`

[code]

[2019-11-07 22:10] garzac commented on #173
How would be the function for training?

[2020-02-13 17:29] jaredlander opened #179 "Website is down"
The link at the top of the repo (https://tensorflow.rstudio.com/tfestimators/) has a 404 error.

Screenshot:

![image](https://user-images.githubusercontent.com/628977/74461389-7380cc80-4e5c-11ea-8d9b-6d0de1aa1ff8.png)

[2020-03-10 04:36] mstei4176 commented on #178
Same issue here

[2021-04-23 15:22] kenshuri commented on #178
Same here

[2021-09-14 15:37] jennybc opened #181 "Move `master` branch to `main`"
Cc @t-kalinowski

The `master` branch of this repository will soon be renamed to `main`, as part of a coordinated change across several GitHub organizations (including, but not limited to: [tidyverse](https://github.com/tidyverse), [r-lib](https://github.com/r-lib), [tidymodels](https://github.com/tidymodels), and [sol-eng](https://github.com/sol-eng)). We anticipate this will happen by the end of

[2021-11-22 20:13] #181 closed

[2022-04-11 14:57] sne-ngxukumeshe opened #182 "tfestimator not compatible with tensorflow version 2"
When loading the tfestimator library in R, it returns the following output "_tfestimators is not recomended for new code. It is only compatible with Tensorflow version 1, and is not compatable with Tensorflow version 2._"

Just a heads up to please update the package so it's compatible with the latest version of Tensorflow, please.

[2022-04-11 15:48] t-kalinowski commented on #182
Hi, Thanks for filing.

This package is not going to be updated. It is only maintained to not break existing code out there.

There are better ways to achieve the same goals today using keras preprocessing layers and tfdatasets. Please don't write new code with this package, it is likely go be retired soon.